# ---------------------------------------------------------------------------- #
# scriptLattes                                                                 #
# ---------------------------------------------------------------------------- #
##
# Os parâmetro foram classificados em indispensável, irrelevante, opcional e não recomendado(a) 
# em função do LattesService
##
global-nome_do_grupo                      = orientadores
global-arquivo_de_entrada                 = /var/www/LattesService/scriptLattes/scriptLattes.list #indispensável
global-diretorio_de_saida                 = 		# irrelevante, pois não irá gerar paginas HTML
global-email_do_admin                     = 		# irrelevante
global-idioma                             = PT    	# ainda não implementada na versão Python
global-itens_desde_o_ano                  = 1970  	# opcional em branco trará desde a primeira identificado no grupo de CVs
global-itens_ate_o_ano                    =   		# opcional - em branco trará até a mais recente identificada no grupo de CVs
global-itens_por_pagina                   = 1000 	# irrelevante, pois não irá gerar páginas HTML
global-criar_paginas_jsp                  = nao 	# não recomendado ativar para não interferir no processamento.
global-google_analytics_key               = 		# irrelevante, pois não irá gerar páginas HTML
global-prefixo                            = 		# irrelevante, pois não serão gerados arquivos temporários - usado nos arquivos temporários (úteis para futuras análises)
global-salvar_informacoes_em_formato_xml  = nao 	# não recomendado ativar - armazenado no arquivo 'database.xml'

global-identificar_publicacoes_com_qualis = nao 	# irrelevante, pois o método não é executado
global-arquivo_qualis_de_periodicos       = 		# irrelevante - ./exemplo/qualis_computacao_periodicos_2013.csv
global-arquivo_qualis_de_congressos       = 		# irrelevante - ./exemplo/qualis_computacao_conferencias_2012.csv

global-diretorio_de_armazenamento_de_cvs  = #/var/www/LattesService/scriptLattes/cache_de_cvs # não recomendado - cache de CVs Lattes (se não for indicado então serão utilizadas as últimas versões dos CVs.

# ---------------------------------------------------------------------------- #
# RELATÓRIOS DE PRODUÇÃO EM C,T & A                                            #
# Serão criadas listas de publicações apenas para os  tipos = sim              #
# ---------------------------------------------------------------------------- #
relatorio-salvar_publicacoes_em_formato_ris            = nao  	# não recomendado ativar - armazenado no arquivo 'publicacoes.ris'

relatorio-incluir_artigo_em_periodico                  = sim	# opcional
relatorio-incluir_livro_publicado                      = sim	# opcional
relatorio-incluir_capitulo_de_livro_publicado          = sim	# opcional
relatorio-incluir_texto_em_jornal_de_noticia           = sim	# opcional
relatorio-incluir_trabalho_completo_em_congresso       = sim	# opcional
relatorio-incluir_resumo_expandido_em_congresso        = sim	# opcional
relatorio-incluir_resumo_em_congresso                  = sim	# opcional
relatorio-incluir_artigo_aceito_para_publicacao        = sim	# opcional
relatorio-incluir_apresentacao_de_trabalho             = sim	# opcional
relatorio-incluir_outro_tipo_de_producao_bibliografica = sim	# opcional

relatorio-incluir_software_com_patente                 = sim	# opcional
relatorio-incluir_software_sem_patente                 = sim	# opcional
relatorio-incluir_produto_tecnologico                  = sim	# opcional
relatorio-incluir_processo_ou_tecnica                  = sim	# opcional
relatorio-incluir_trabalho_tecnico                     = sim	# opcional
relatorio-incluir_outro_tipo_de_producao_tecnica       = sim	# opcional

relatorio-incluir_producao_artistica                   = sim	# opcional

# ---------------------------------------------------------------------------- #
# RELATÓRIOS DE ORIENTAÇÕES                                                    #
# ---------------------------------------------------------------------------- #
relatorio-mostrar_orientacoes                                          = nao 	# irrelevante, pois o código foi comentado porque LattesService não armazena estes dados

relatorio-incluir_orientacao_em_andamento_pos_doutorado                = nao 	# irrelevante, pois o código foi comentado porque LattesService não armazena estes dados
relatorio-incluir_orientacao_em_andamento_doutorado                    = nao 	# irrelevante, pois o código foi comentado porque LattesService não armazena estes dados
relatorio-incluir_orientacao_em_andamento_mestrado                     = nao 	# irrelevante, pois o código foi comentado porque LattesService não armazena estes dados
relatorio-incluir_orientacao_em_andamento_monografia_de_especializacao = nao 	# irrelevante, pois o código foi comentado porque LattesService não armazena estes dados
relatorio-incluir_orientacao_em_andamento_tcc                          = nao 	# irrelevante, pois o código foi comentado porque LattesService não armazena estes dados
relatorio-incluir_orientacao_em_andamento_iniciacao_cientifica         = nao 	# irrelevante, pois o código foi comentado porque LattesService não armazena estes dados
relatorio-incluir_orientacao_em_andamento_outro_tipo                   = nao 	# irrelevante, pois o código foi comentado porque LattesService não armazena estes dados

relatorio-incluir_orientacao_concluida_pos_doutorado                   = nao 	# irrelevante, pois o código foi comentado porque LattesService não armazena estes dados
relatorio-incluir_orientacao_concluida_doutorado                       = nao 	# irrelevante, pois o código foi comentado porque LattesService não armazena estes dados
relatorio-incluir_orientacao_concluida_mestrado                        = nao 	# irrelevante, pois o código foi comentado porque LattesService não armazena estes dados
relatorio-incluir_orientacao_concluida_monografia_de_especializacao    = nao 	# irrelevante, pois o código foi comentado porque LattesService não armazena estes dados
relatorio-incluir_orientacao_concluida_tcc                             = nao 	# irrelevante, pois o código foi comentado porque LattesService não armazena estes dados
relatorio-incluir_orientacao_concluida_iniciacao_cientifica            = nao 	# irrelevante, pois o código foi comentado porque LattesService não armazena estes dados
relatorio-incluir_orientacao_concluida_outro_tipo                      = nao 	# irrelevante, pois o código foi comentado porque LattesService não armazena estes dados

# ---------------------------------------------------------------------------- #
# RELATÓRIOS ADICIONAIS                                                        #
# ---------------------------------------------------------------------------- #
relatorio-incluir_projeto                    = nao 	# irrelevante, pois o código foi comentado porque LattesService não armazena estes dados
relatorio-incluir_premio                     = nao 	# irrelevante, pois o código foi comentado porque LattesService não armazena estes dados
relatorio-incluir_participacao_em_evento     = nao 	# irrelevante, pois o código foi comentado porque LattesService não armazena estes dados
relatorio-incluir_organizacao_de_evento      = nao 	# irrelevante, pois o código foi comentado porque LattesService não armazena estes dados
relatorio-incluir_producao_com_colaboradores = nao 	# irrelevante, pois o código foi comentado porque LattesService não armazena estes dados # relatorios scripLattes com a producao dos colaboradores na Plataforma Lattes

# ---------------------------------------------------------------------------- #
# GRAFO DE COLABORAÇÕES                                                        #
# ---------------------------------------------------------------------------- #
grafo-mostrar_grafo_de_colaboracoes                         = nao 	# irrelevante, pois o método não é executado
grafo-mostrar_todos_os_nos_do_grafo                         = nao 	# irrelevante, pois o método não é executado
grafo-considerar_rotulos_dos_membros_do_grupo               = nao 	# irrelevante, pois o método não é executado # informação dada no arquivo de entrada .list (quarta coluna)
grafo-mostrar_aresta_proporcional_ao_numero_de_colaboracoes = nao 	# irrelevante, pois o método não é executado

grafo-incluir_artigo_em_periodico                           = nao 	# irrelevante, pois o método não é executado
grafo-incluir_livro_publicado                               = nao 	# irrelevante, pois o método não é executado
grafo-incluir_capitulo_de_livro_publicado                   = nao 	# irrelevante, pois o método não é executado
grafo-incluir_texto_em_jornal_de_noticia                    = nao 	# irrelevante, pois o método não é executado
grafo-incluir_trabalho_completo_em_congresso                = nao 	# irrelevante, pois o método não é executado
grafo-incluir_resumo_expandido_em_congresso                 = nao 	# irrelevante, pois o método não é executado
grafo-incluir_resumo_em_congresso                           = nao 	# irrelevante, pois o método não é executado
grafo-incluir_artigo_aceito_para_publicacao                 = nao 	# irrelevante, pois o método não é executado
grafo-incluir_apresentacao_de_trabalho                      = nao 	# irrelevante, pois o método não é executado
grafo-incluir_outro_tipo_de_producao_bibliografica          = nao 	# irrelevante, pois o método não é executado
grafo-incluir_software_com_patente                          = nao 	# irrelevante, pois o método não é executado
grafo-incluir_software_sem_patente                          = nao 	# irrelevante, pois o método não é executado
grafo-incluir_produto_tecnologico                           = nao 	# irrelevante, pois o método não é executado
grafo-incluir_processo_ou_tecnica                           = nao 	# irrelevante, pois o método não é executado
grafo-incluir_trabalho_tecnico                              = nao 	# irrelevante, pois o método não é executado
grafo-incluir_outro_tipo_de_producao_tecnica                = nao 	# irrelevante, pois o método não é executado

grafo-incluir_producao_artistica                            = nao 	# irrelevante, pois o método não é executado
grafo-incluir_grau_de_colaboracao                           = nao 	# irrelevante, pois o método não é executado  # medida similar ao PageRank

# ---------------------------------------------------------------------------- #
# MAPA DE GEOLOCALIZAÇÃO                                                       #
# ---------------------------------------------------------------------------- #
mapa-mostrar_mapa_de_geolocalizacao  = nao 	# irrelevante, pois o método não é executado
mapa-incluir_membros_do_grupo        = nao 	# irrelevante, pois o método não é executado
mapa-incluir_alunos_de_pos_doutorado = nao 	# irrelevante, pois o método não é executado
mapa-incluir_alunos_de_doutorado     = nao 	# irrelevante, pois o método não é executado

mapa-incluir_alunos_de_mestrado      = nao 	# irrelevante, pois o método não é executado  # NÃO sugerido pois pode demorar muito baixar todos os CVs Lattes (Use apenas para grupos menores)

# ---------------------------------------------------------------------------- #
# MÉTRICAS                                                                     #
# ---------------------------------------------------------------------------- #
relatorio-incluir_metricas = nao 	irrelevante, pois o método não é executado
